/* Admin Dashboard CSS Stylesheet Ultimate Edition Limited One Sold All Gone RARE COLLECTORS ITEM */

h1 {
    text-align: center;
    margin-top: 45px;
    font-family: 'Trebuchet MS', sans-serif;
}
