/* Navbar stylesheet */

.navbar {
    background-color:palegreen;
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: palegreen;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        justify-content: center;
    }

    ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: black;
    }

    ul li a:hover {
        background-color: darkseagreen;
    }

}

body.dark-mode {
    background-color: #333;
    color: white;
}
